<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Bulma Stylesheet --}}
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/combine/npm/bulma@0.9.2/css/bulma.min.css,npm/bulma@0.9.2/css/bulma.min.css,npm/bulma@0.9.2/css/bulma-rtl.min.css,npm/bulma@0.9.2/css/bulma-rtl.min.css" />
    <!-- Font Awesome Link -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Font Awesome Script -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <title>Dog Meet Dog</title>
</head>

<body>
    {{{ body }}}
</body>

</html>