
{{> navbar/main-navbar}}
<section class="section">
    <div class="container">

        <h1 class="title has-text-centered">Doggie Dashboard</h1>
        <div id="dashboard" class="columns is-multiline">

        </div>


    </div>
</section>
<script src="/assets/js/dashboard.js"></script>