
{{> navbar/main-navbar}}

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Doggie Dashboard</h1>
    <h1 class="subtitle has-text-centered mt-1">Search By: </h1>
    <div class="columns">
      <div class="column has-text-centered">
    <div class="dropdown is-hoverable m-3">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span class="pr-3">Size </span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item" id="extra-small">
            Extra Small
          </a>
          <a class="dropdown-item" id="small">
            Small
          </a>
          <a href="#" class="dropdown-item" id="medium">
            Medium
          </a>
          <a href="#" class="dropdown-item" id="large">
            Large
          </a>
          <a href="#" class="dropdown-item" id="extra-large">
            Extra Large
          </a>

        </div>
      </div>
    </div>
    {{!-- vaccinated drop down --}}
    <div class="dropdown is-hoverable m-3">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span class="pr-3">Vaccinated</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item" id="vaccinated">
            Vaccinated
          </a>
          <a class="dropdown-item" id="not-vaccinated">
            Not Vaccinated
          </a>
        </div>
      </div>
    </div>
      {{!-- friendliness drop down --}}
      <div class="dropdown is-hoverable m-3">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span class="pr-3">Dog Friendliness</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item" id="all-dog">
            All Dog Friendly
          </a>
          <a class="dropdown-item" id="small-dog">
            Small Dog Friendly
          </a>
          <a class="dropdown-item" id="large-dog">
            Large Dog Friendly
          </a>
        </div>
      </div>
    </div>

      {{!-- age drop down --}}
      <div class="dropdown is-hoverable m-3">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span class="pr-3">Dog Age</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item" id="all-dog">
            Puppy
          </a>
          <a class="dropdown-item" id="small-dog">
            Young
          </a>
          <a class="dropdown-item" id="large-dog">
            Adult
          </a>
          <a class="dropdown-item" id="large-dog">
            Senior
          </a>
        </div>
      </div>
    </div>
</div>
    </div>
    
    <div id="dashboard" class="columns is-multiline">

    </div>


  </div>
</section>
<script src="/assets/js/dashboard.js"></script>