
{{> navbar/main-navbar}}
<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">Are you sure you want to permanently delete your account?</h1>
        <div class="columns">
            <div class="column">
                <button class="button is-large is-light mr-4 delete-button">Yes</button>
                <a href="/dashboard"><button class="button is-large is-primary ml-4">No</button></a>
            </div>
        </div>
    </div>
</section>
<script src="./assets/js/delete-user.js"></script>