
{{> navbar/main-navbar}}
{{!-- container --}}
<section class="section columns">
    <div class="container column is-one-third">
        {{!-- page header & subtitle for the sign-up page --}}
        <h1 class="title">Edit Profile</h1>
        {{!-- email field --}}
        <div class="field">
            <label class="label">Email</label>
            <p class="control has-icons-left has-icons-right">
                <input  id="email" class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>
        {{!-- password field --}}
        <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                <input id="password" class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        {{!-- owner name fields --}}
        <div class="field">
            <label class="label">Owner's First Name</label>
            <div class="control">
                <input id="owner-first-name" class="input" type="text" placeholder="First Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Owner's Last Name</label>
            <div class="control">
                <input id="owner-last-name" class="input" type="text" placeholder="Last Name">
            </div>
        </div>
        {{!-- dog name field --}}
        <div class="field">
            <label class="label">Dog's Name</label>
            <div class="control">
                <input id="dog-name" class="input " type="text" placeholder="Dog Name">
            </div>
        </div>
        {{!-- zip code field --}}
        <div class="field">
            <label class="label">City</label>
            <div class="control">
                <input id="city" class="input " type="text" placeholder="City">
            </div>
        </div>
        {{!-- breed drop down --}}
        <div class="field">
            <label class="label">Breed</label>
            <div class="control">
                <div class="select">
                    <select id="breed-selection">
                        <option disabled="disabled" selected="selected">Select one</option>
                        <option>Test</option>
                    </select>
                </div>
            </div>
        </div>
        {{!-- age drop down --}}
        <div class="field">
            <label class="label">Age</label>
            <div class="control">
                <div class="select">
                    <select id="dog-age">
                        <option disabled="disabled" selected="selected">Select one</option>
                        <option>Puppy</option>
                        <option>Young</option>
                        <option>Adult</option>
                        <option>Senior</option>
                    </select>
                </div>
            </div>
        </div>
        {{!-- size drop down --}}
        <div class="field">
            <label class="label">Size</label>
            <div class="control">
                <div class="select ">
                    <select id="dog-size">
                        <option disabled="disabled" selected="selected">Select one</option>
                        <option>Extra small</option>
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                        <option>Extra large</option>
                    </select>
                </div>
            </div>
        </div>
        {{!-- vaccine checkbox --}}
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input id="vaccinated" type="checkbox" value="1">
                    Dog is vaccinated</a>
                </label>
            </div>
        </div>
        {{!-- friendliness radio buttons --}}
        <div id="friendliness" class="field">
            <div class="control">
                <label class="radio">
                    <input id="all-dog-friendly" type="radio" name="question" value="All dog friendly">
                    All dog friendly
                </label>
                <label class="radio">
                    <input id="small-dog-friendly" type="radio" name="question" value="Small dog friendly">
                    Small dog friendly
                </label>
                <label class="radio">
                    <input id="large-dog-friendly" type="radio" name="question" value="Large dog friendly">
                    Large dog friendly
                </label>
            </div>
        </div>
        {{!-- upload image of your dog --}}
        <div id="dog-file" class="file has-name is-fullwidth">
            <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
                <span class="file-name" id="file-type" value="image/png">
                    No file uploaded
                </span>
                {{!-- <input class="file-name" class="input " type="text"
                    placeholder="Upload a picture of your dog"></input> --}}
            </label>
        </div>
        {{!-- Link to delete user page --}}
        <div class="pt-4">
            <a class="has-text-danger" href="/delete-user">Delete Account</a>
        </div>
        {{!-- submit and cancel buttons for the entire sign-up form --}}
        <div class="field is-grouped mt-4">
            <div class="control">
                <button id="submit-form" class="button is-primary save-button">Save</button>
            </div>
        </div>
    </div>
</section>
<script src="./assets/js/edit-user.js"></script>