<section class="section">
    <div class="container">
        <h1 class="title">Welcome to Dog Meet Dog!</h1>
        <p class="subtitle">The first social media platform for dogs! Find other fur-friends to connect with online and
            meet up with in person!</p>
    </div>
</section>