{{> navbar/home-navbar}}
<section class="hero is-fullheight">
    <section class="section">
        <div class="container has-text-light has-text-centered">
            <h1 class="title has-text-light has-text-weight-bold">Welcome to Dog Meet Dog!</h1>
            <p class="subtitle has-text-light has-text-weight-semibold">The first social media platform for dogs! Find
                other fur-friends to connect with
                online and
                meet up with in person!</p>
            <div class="columns mt-6">
                <div class="column is-half">
                    <p class="has-text-weight-semibold is-size-3">Leave your paw print and</p>
                    <a href="/signup"><button class="button is-primary is-large mt-3">Sign up</button></a>
                </div>
                <div class="column is-half">
                    <p class="has-text-weight-semibold is-size-3">If you're furmiliar</p>
                    <a href="/login"><button class="button is-large mt-3">Login</button></a>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="container mb-6">
    <p class="title mb-5 has-text-centered">Find furever friends today!</p>
    <img class="" src="/assets/images/home-graphics-1.png" alt="">
    <img class="" src="/assets/images/home-graphics-2.png" alt="">

</section>
{{> footer/footer}}