<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
    </div>
    </div>
    </div>
</nav>
<section class="section columns">
    <div class="container column is-one-third">
        <h1 class="title">Login</h1>
        <div class="field">
            <label class="label">Email</label>
            <p class="control has-icons-left has-icons-right">
                <input id="email" class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                <input id="password" class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button submit-button is-primary">Submit</button>
            </div>
            <div class="control">
                <a href="/"><button class="button is-light">Cancel</button></a>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/login.js"></script>