
{{> navbar/main-navbar}}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Treat Points Leader Board</h1>
        <p class="subtitle has-text-centered mb-1">What are treat points?</p>
        <p class="has-text-centered mb-2">You can earn treat points by meeting up with other dog owners in person. You earn 10 treat 
            points every time you meet with another dog. Every 100 points you earn, you receive a prize!
            To earn treat points, simply go to your Connections page and click the "We met up!" button 
            underneath the dog you met up with. </p>
            <br>
        <div class="columns is-multiline is-centered">
        </div>
    </div>
</section>
<script src="/assets/js/treat-points.js"></script>