<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
        <p class="is-size-4 has-text-light"><i class="fas fa-paw fa-lg pr-3"></i>Dog Meet Dog</p>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu"></div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a href="/signup" class="button is-primary">
                    <strong>Sign up</strong>
                </a>
                <a href="/login" class="button is-light">
                    Log in
                </a>
            </div>
        </div>
    </div>
    </div>
</nav>