<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-text-light" href="/dashboard">
            <p class="is-size-4 has-text-light"><i class="fas fa-paw fa-lg pr-3"></i>Dog Meet Dog</p>
        </a>
        <a role="button" class="navbar-burger"
            onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');" aria-label="menu"
            aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/dashboard" class="navbar-item has-text-light">
                Dashboard
            </a>

            <a id="connections-link" class="navbar-item has-text-light">
                Connections
            </a>
            <a href="/treat-points" class="navbar-item has-text-light">
                Treat Points
            </a>
            <a href="edit-user" class="navbar-item has-text-light">
                Edit Profile
            </a>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a href="/" class="button logout-button is-primary">
                    <strong>Logout</strong>
                </a>
            </div>
        </div>
    </div>

</nav>

<script src="/assets/js/connections.js"></script>
<script src="/assets/js/logout.js"></script>