/* Navbar styling */

.navbar {
  background-color: #68D1E7;
}

.navbar-menu {
  text-align: right;
}

.navbar-burger {
  margin-right: 0;
  color: white;
}

.aria-hidden {
  background-color: white;
}

.hero::before {
  content: "";
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

ul {
  list-style-type: none !important;
  margin-left: 0 !important;
}

.card .card-image,
.card .card-image .image img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.is-primary {
  background-color: #FA6900 !important;
}
