/* navbar styling */
.navbar-menu {
  text-align: right;
}

.navbar-burger {
  margin-right: 0;
}

ul {
  list-style-type: none !important;
  margin-left: 0 !important;
}

.card .card-image,
.card .card-image .image img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

/* button {
    padding: 0;
border: none;
background: none;
} */

